body {

    background: lightgreen;

}
.content{
    background-color: #f0f0f0;
    border: 10px solid #f0f0f0;
    border-radius: 7px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
h1{
    margin: 0 0 5px 0;
}
p{
    border: 1px solid red;
}